.main {
  height: 98vh;
}

.parent-from {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.currency-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  width: 210px;
  cursor: pointer;
  /* margin: 5px; */
  padding: 5px;
}

.currency-card2 {
  width: 95%;
  margin: 5px 0;
  border: none;
  background-color: rgb(247, 249, 251);
}

.currency-card2:hover {
  background-color: rgb(46, 43, 43);
  color: white;
}

.list {
  max-height: 220px;
  width: 220px;
  overflow: scroll;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid grey;
  /* width: 250px; */
}

.fa {
  color: grey;
}

.flag-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flag {
  width: 30px;
}

.alpha {
  font-weight: bolder;
}

.currency-description {
  font-size: 0.8rem;
  color: grey;
}

.rotate-down {
  animation: rotate-down 0.5s linear forwards;
}

.rotate-up {
  animation: rotate-up 0.5s linear forwards;
}

.currency-name {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-amount1 div {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 5px;
  height: 32px;
  width: 220px;
}

.dropdown {
  height: 0px;
  overflow-y: hidden;
  position: absolute;
  z-index: 2;
  background-color: white;
  transition: height 0.2s linear;
}

.dropdown > div:first-child {
  border: 2px solid grey;
  padding: 5px;
  margin: 10px 0 5px;
}

.dropdown div:first-child input {
  border: none;
  outline: none;
  margin-left: 10px;
}

.show {
  height: 270px;
}

.input-amount1 input {
  border: none;
  width: 80%;
  height: 30px;
  font-size: 1rem;
}

.input-amount1 div span:nth-child(1) {
  color: rgb(175, 165, 165);
}

.input-amount1 input:focus {
  border: none;
  outline: none;
}

.no-match {
  text-align: center;
}

@keyframes rotate-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}